@model MVCZakazivanjePregleda.Models.tblDoktor

@{
    ViewBag.Title = "Create";
}

<h2>Kreiranje novog doktora</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.imeDoktora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imeDoktora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imeDoktora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prezimeDoktora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prezimeDoktora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prezimeDoktora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datumRodjenjaDoktora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datumRodjenjaDoktora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datumRodjenjaDoktora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brojTelefonaDoktora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.brojTelefonaDoktora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.brojTelefonaDoktora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brojLicence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.brojLicence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.brojLicence, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.specijalizacija, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.specijalizacija, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.specijalizacija, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Lista doktora", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
