@model MVCZakazivanjePregleda.Models.tblTipPregleda

@{
    ViewBag.Title = "Edit";
}

<h2>Modifikacija tipa pregleda</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.tipPregledaID)

        <div class="form-group">
            @Html.LabelFor(model => model.nazivTipaPregleda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nazivTipaPregleda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nazivTipaPregleda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vrstaPregledaID, "Vrsta pregleda", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("vrstaPregledaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.vrstaPregledaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sačuvaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("List tipova pregleda", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
