@model MVCZakazivanjePregleda.Models.tblPodtipPregleda

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje podtipa pregleda</h2>

<h3>Da li ste sigurni da želite da obrišete?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazivPodtipaPregleda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazivPodtipaPregleda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTipPregleda.nazivTipaPregleda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTipPregleda.nazivTipaPregleda)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Lista podtipova pregleda", "Index")
        </div>
    }
</div>
