@model MVCZakazivanjePregleda.Models.tblPodtipPregleda

@{
    ViewBag.Title = "Details";
}

<h2>Informacije o podtipovima pregleda</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazivPodtipaPregleda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazivPodtipaPregleda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTipPregleda.nazivTipaPregleda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTipPregleda.nazivTipaPregleda)
        </dd>

    </dl>
</div>
<p>
    <!-- @Html.ActionLink("Izmeni", "Edit", new { id = Model.podtipPregledaID }) | -->
    @Html.ActionLink("List podtipova pregleda", "Index")
</p>
